@import "../../global.scss";

.projects {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
    color: $main-color;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 5px;
    font-family: monospace;
    overflow: hidden;
    height: 70px;
  }
}
